<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selamat datang</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    
    <%- include('partials/navbar') %>

    <section class="hero">
        <div class="container">
            <h1>Welcome to Mental Health Support</h1>
            <h2>Your Well-being Matters!</h2>
            <!-- Button Login -->
            <a href="/login" class="button">Login</a>
            <!-- Button Register -->
            <a href="/register" class="button">Register</a>
        </div>
        <div class="image-container">
            <img src="/public/asset/home.png" alt="Mental health support">
        </div>
    </section>


    <%- include('partials/footer') %>

</body>
</html>
